
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<MoviesInfo.Models.Movies.AllMoviesModel>

<table class="table table-striped table-hover">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th></th>
    </tr>
    @foreach (var movie in Model)
    {
        var containerId = $"details-container-{movie.Id}";
        <tr id="@containerId">
            <td>@movie.Title</td>
            <td>@movie.Year</td>
            <td>
                @Ajax.ActionLink("More", "Details", new { id = movie.Id }, new AjaxOptions
           {
               UpdateTargetId = @containerId,
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
           })
            </td>
        </tr>
    }
</table>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}